{% extends "layout.html" %}

{% block content %}

    <h2>{{ header }}</h2>
    <br>

    {% if user.is_authenticated and user.username == 'admin' %}
    <p>
        <strong>Actions: </strong>
        <a href="{% url 'cars_edit' _id=car.id %}">Edit Car</a>
    </p>
    {% endif %}

    <p><b>Model: </b>{{ car.model }}</p>
    <p><b>Engine: </b>{{ car.engine }}</p>
    <p><b>Weight: </b>{{ car.weight }}</p>
    <p><b>Pilot: </b><a href="{% url 'pilots_get' _id=car.pilot.id %}">{{ car.pilot.name }}</a></p>
    <p><b>Team: </b><a href="{% url 'teams_get' _id=car.pilot.team.id %}">{{ car.pilot.team.name }}</a></p>

{% endblock %}