<div *ngIf="header && type" xmlns="http://www.w3.org/1999/html">
  <h2>{{ header }}</h2>
  <br>

  <div *ngIf="type === 'pilot'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
    <tr><th>Name:</th>
      <td><input [(ngModel)]="pilot!.name" placeholder="Name"></td>
    </tr>
    <tr><th>Birth Date:</th>
      <td><input [(ngModel)]="pilot!.date" placeholder="YYYY-MM-DD"></td>
    </tr>
    <tr><th>Victories:</th>
      <td><input [(ngModel)]="pilot!.victories" placeholder="Victories"></td>
    </tr>
    <tr><th>Poles Positions:</th>
      <td><input [(ngModel)]="pilot!.pole_positions" placeholder="Poles"></td>
    </tr>
    <tr><th>Podiums:</th>
      <td><input [(ngModel)]="pilot!.podiums" placeholder="Podiums"></td>
    </tr>
    <tr><th>Championships:</th>
      <td><input [(ngModel)]="pilot!.championships" placeholder="Championships"></td>
    </tr>
    <tr><th>Contract:</th>
      <td><input [(ngModel)]="pilot!.contract" placeholder="Contract"></td>
    </tr>
    <tr><th>Entry Year:</th>
      <td><input [(ngModel)]="pilot!.entry_year" placeholder="Entry Year"></td>
    </tr>
    <tr><th>Team:</th>
      <td><select [(ngModel)]="selectedTeamP" >
        <option *ngFor="let team of Teams" [ngValue]="team" >{{ team.name }}</option>
      </select></td>
    </tr>
    <tr><th>Team Country(ies):</th>
      <td><select [(ngModel)]="selectedCountryP" multiple>
        <option *ngFor="let country of Countries" [ngValue]="country" >{{ country.designation }}</option>
      </select></td>
    </tr>
      <tr>
        <button class="btn btn-primary" (click)="createPilot()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'team'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Name:</th>
        <td><input [(ngModel)]="team!.name" placeholder="Name"></td>
      </tr>
      <tr><th>Foundation Date:</th>
        <td><input [(ngModel)]="team!.date" placeholder="YYYY-MM-DD"></td>
      </tr>
      <tr><th>Championships:</th>
        <td><input [(ngModel)]="team!.championships" placeholder="Championships"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createTeam()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'race'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Name:</th>
        <td><input [(ngModel)]="race!.name" placeholder="Name"></td>
      </tr>
      <tr><th>Date:</th>
        <td><input [(ngModel)]="race!.date" placeholder="YYYY-MM-DD"></td>
      </tr>
      <tr><th>Season:</th>
        <td><input [(ngModel)]="race!.season" placeholder="Season"></td>
      </tr>
      <tr><th>Fast Lap:</th>
        <td><input [(ngModel)]="race!.fast_lap" placeholder="Fast Lap"></td>
      </tr>
      <tr><th>Circuit:</th>
        <td><select [(ngModel)]="selectedCircuitR" >
          <option *ngFor="let circuit of Circuits" [ngValue]="circuit" >{{ circuit.name }}</option>
        </select></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createRace()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'circuit'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Name:</th>
        <td><input [(ngModel)]="circuit!.name" placeholder="Name"></td>
      </tr>
      <tr><th>Length:</th>
        <td><input [(ngModel)]="circuit!.length" placeholder="Length"></td>
      </tr>
      <tr><th>Location:</th>
        <td><input [(ngModel)]="circuit!.location" placeholder="Location"></td>
      </tr>
      <tr><th>Last Winner:</th>
        <td><select [(ngModel)]="selectedPilotC" >
          <option *ngFor="let pilot of Pilots" [ngValue]="pilot" >{{ pilot.name }}</option>
        </select></td>
      </tr>
      <tr><th>Country:</th>
        <td><select [(ngModel)]="selectedCountryC" >
          <option *ngFor="let country of Countries" [ngValue]="country" >{{ country.designation }}</option>
        </select></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createCircuit()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'car'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Model:</th>
        <td><input [(ngModel)]="car!.model" placeholder="Model"></td>
      </tr>
      <tr><th>Engine:</th>
        <td><input [(ngModel)]="car!.engine" placeholder="Engine"></td>
      </tr>
      <tr><th>Weight:</th>
        <td><input [(ngModel)]="car!.weight" placeholder="Weight"></td>
      </tr>
      <tr><th>Pilot:</th>
        <td><select [(ngModel)]="selectedPilotCar" >
          <option *ngFor="let pilot of Pilots" [ngValue]="pilot" >{{ pilot.name }}</option>
        </select></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createCar()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'country'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Designation:</th>
        <td><input [(ngModel)]="country!.designation" placeholder="Designation"></td>
      </tr>
      <tr><th>Code:</th>
        <td><input [(ngModel)]="country!.code" placeholder="Code"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createCountry()">New</button>
      </tr>
    </table>
  </div>

  <div *ngIf="type === 'teamleader'">
    <table style="border-collapse: separate; border-spacing: 1em; color: white">
      <tr><th>Name:</th>
        <td><input [(ngModel)]="teamleader!.name" placeholder="Name"></td>
      </tr>
      <tr><th>Team:</th>
        <td><select [(ngModel)]="selectedTeamTL" >
          <option *ngFor="let team of Teams" [ngValue]="team" >{{ team.name }}</option>
        </select></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="createTeamLeader()">New</button>
      </tr>
    </table>
  </div>
</div>
