<div *ngIf="header && race && results; else loader">
  <h2>{{ header }}</h2>
  <br>

  <div *ngIf="user && user.is_authenticated && user.is_superuser">
    <p>
      <strong>Actions: </strong>
      <a routerLink="/races/{{race.id}}/edit">Edit Race</a>
      -
      <a routerLink="/results/new">New Result</a>
    </p>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12" style="padding-bottom: 30px">
      <p><b>Name: </b>{{ race.name }}</p>
      <p><b>Date: </b>{{ race.date }}</p>
      <p><b>Season: </b>{{ race.season }}</p>
      <p><b>Circuit: </b><a routerLink="/circuits/{{race.circuit.id}}">{{ race.circuit.name }}</a></p>
      <p><b>Fast Lap: </b>{{ race.fast_lap }}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="results.length > 0">
      <h4 style="padding-bottom: 20px">Race Results</h4>
      <table style="border-collapse: separate; border-spacing: 1em; color: white; margin-bottom: -1em">
        <tr>
          <th>Position</th>
          <th>Pilot</th>
          <th>Points</th>
          <th *ngIf="user && user.is_authenticated && user.is_superuser">Actions</th>
        </tr>
        <tr *ngFor="let r of results">
          <td>{{ r.position }}</td>
          <td><a routerLink="/pilots/{{r.pilot.id}}">{{ r.pilot.name }}</a></td>
          <td>{{ r.points }}</td>
          <td *ngIf="user && user.is_authenticated && user.is_superuser">
            <a routerLink="/results/{{r.id}}/edit">Edit</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #loader>
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</ng-template>
