<h2>{{ header }}</h2>
<br>

<div class="gaming-library">
  <table style="border-collapse: separate; border-spacing: 1em; color: white">
    <div *ngIf="type === 'pilot'">
      <tr>
        <th>Name:</th>
        <td><input [(ngModel)]="pilot" placeholder="Name"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_pilot()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'team'">
      <tr>
        <th>Name:</th>
        <td><input [(ngModel)]="team" placeholder="Name"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_team()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'race'">
      <tr>
        <th>Name:</th>
        <td><input [(ngModel)]="race" placeholder="Name"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_race()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'circuit'">
      <tr>
        <th>Name:</th>
        <td><input [(ngModel)]="circuit" placeholder="Name"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_circuit()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'car'">
      <tr>
        <th>Model:</th>
        <td><input [(ngModel)]="car_model" placeholder="Model"></td>
      </tr>
      <tr>
        <th>Pilot:</th>
        <td><input [(ngModel)]="car_pilot" placeholder="Pilot"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_car()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'country'">
      <tr>
        <th>Designation:</th>
        <td><input [(ngModel)]="country" placeholder="Designation"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_country()">Search</button>
      </tr>
    </div>
    <div *ngIf="type === 'teamleader'">
      <tr>
        <th>Name:</th>
        <td><input [(ngModel)]="teamleader" placeholder="Name"></td>
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search_teamleader()">Search</button>
      </tr>
    </div>
    <tr>
      <ng-container *ngIf="results.length > 0">
        <p>Found {{ results.length }} result{{ results.length > 1 ? 's' : '' }}.</p>
        <div class="gaming-library">
          <div class="col-lg-12">
            <div class="item" *ngFor="let group of results">
              <a *ngFor="let element of group" routerLink="{{ element.url }}">{{ element.str }}</a>
            </div>
          </div>
        </div>
      </ng-container>
      <p *ngIf="results.length == 0">Not found any result.</p>
    </tr>
  </table>
</div>
